# Git Attributes

# Auto detect text files and perform LF normalization
* text=auto

# Custom mappings
*.tsx text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
